<div class="profile-wrapper">
    <div class='profile-container'>
      <div id='left-side'>
        <div id='profile-image'>
        </div>
        <div id='profile-name'>
          <!-- If id of profile is equal to the id of current user, add link to name in order to edit profile.-->
          <% if @user.id === current_user.id%>
            <a href="/users/<%= @user.id %>/edit"><%= @user.fname + " " + @user.lname %> </a>
          <% else %>
            <%= @user.fname + " " + @user.lname %>
          <% end %>
        </div>
        
      </div>
      <div id='right-side'>
        <%= @parties.all.reverse.each do |e| %>
          <div class='event-container'>
            <div id='event-name'>
            Event name: <%= @parties.name %>
            </div>
            <div id='event-date'>
            <%#= @parties.start %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

</div>
