
<%=@thisEvent.name%>
<br>
<%=@thisEvent.start%>
<br>
<%=@thisEvent.finish%>
<br>
<%=@thisEvent.description%>
<br>
<%=@thisEvent.event_type%>
<br>
<%=@thisEvent.response%>

<h1>This event got created: <%= @thisEvent.id %> YAY YAY YAY</h1>
