<<<<<<< HEAD
<%=@events.name%>
<br>
<%=@events.start%>
<br>
<%=@events.finish%>
<br>
<%=@events.description%>
<br>
<%=@events.event_type%>
<br>
<%=@events.response%>
=======
<h1>This event got created: <%= @thisEvent.id %> YAY YAY YAY</h1>
>>>>>>> dd59c859d9847a07b0c95cc87e897553754a6631
